page-home {
    .container{
        display: flex;
        align-items: center;
        justify-items: center;
        height: 100%;        
    }
    .swiper-wrapper{
        background: #ee9ca7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 20px;
    }
    .swiper-slide{
        background: #ee9ca7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 20px;
    }
    .carousel-item{
        border-radius: 50px;
    }
    
}
